body {
    font-family: 'Roboto', sans-serif;
    color: white;
}

.logo {
    width: 25px;
}

.nav-tra {
    background: transparent !important;
    z-index: 1;
    padding: 3px 0;
}

.arriba {
    margin-top: -57px;
}

.carousel-inner img {
    width: auto;
    max-height: 995px;
}

.carousel-inner{
    max-height: 995px;
}

.bg-negro {
    background-color: black;
}

h2 {
    border-bottom: 3px solid #5bc0de;
}

.iconos-quienes {
    text-align: center;
    background-color: #5bc0de;
}

.tarjeta-2 {
    max-height: 168px;
}

.bg-celeste {
    background-color: #5bc0de;
}

.fab {
    color: white !important;
}

.celeste {
    background-color: darkcyan;
}

@media (max-width: 719px) {
    .tarjeta-2 {
        max-height: 100%;
    }
}